In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

#load file into data format
data = pd.read_csv('assignment_dataset.csv')
#check all column info
data.info()
#print few rows of data
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         120 non-null    object
 1   Age                120 non-null    int64
 2   Gender             115 non-null    object
 3   AnnualIncome       117 non-null    float64
 4   SpendingScore      119 non-null    float64
 5   PreferredCategory  119 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 5.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         120 non-null    object
 1   Age                120 non-null    int64
 2   Gender             120 non-null    object
 3   AnnualIncome       120 non-null    float64
 4   SpendingScore      120 non-null    float64
 5   PreferredCategory  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 5.8+ KB

<ipython-input-4-12e742b2eba1>:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)
<ipython-input-4-12e742b2eba1>:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['AnnualIncome'].fillna(data['AnnualIncome'].median(), inplace=True)
<ipython-input-4-12e742b2eba1>:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['SpendingScore'].fillna(data['SpendingScore'].median(), inplace=True)
<ipython-input-4-12e742b2eba1>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['PreferredCategory'].fillna(data['PreferredCategory'].mode()[0], inplace=True)

In [5]:
###Activities
#1. Missing Value Analysis
#Check for missing values in the dataset.
#Handle the missing values using appropriate techniques (e.g., mean/mode imputation or removal).

# ==========================================
# Statistical Way
# ==========================================
# a. For Numerical Columns
#             a. Continuous ND: Replace Missing value(NaN) with the MEAN value of the column
#             b. Discrete ND  : Replace Missing value(NaN) with the MEDIAN value of the column
# b. For non-numerical columns
#             Replace Missing values(NaN) with the Mode's first value of the column

#Gender : Replace missing values with first mode.
#Annual incomde : Replace with Median
#SpendingScore :Replace with Median
#Preferred Category : Replace missing values with first mode
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)
data['AnnualIncome'].fillna(data['AnnualIncome'].median(), inplace=True)
data['SpendingScore'].fillna(data['SpendingScore'].median(), inplace=True)
data['PreferredCategory'].fillna(data['PreferredCategory'].mode()[0], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         120 non-null    object
 1   Age                120 non-null    int64
 2   Gender             120 non-null    object
 3   AnnualIncome       120 non-null    float64
 4   SpendingScore      120 non-null    float64
 5   PreferredCategory  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 5.8+ KB

<ipython-input-5-78ad5263aed3>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['AnnualIncome'].fillna(data['AnnualIncome'].median(), inplace=True)
<ipython-input-5-78ad5263aed3>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['SpendingScore'].fillna(data['SpendingScore'].median(), inplace=True)

In [9]:
#2. Categorical Data Handling
#Use pd.get_dummies to encode the categorical column(s) into numerical format.

#Gender and PreferredCategory convert into numerical columns
dummyDataset = pd.concat( [pd.get_dummies(data['Gender'], dtype=int) , data.iloc[:,[1,2,3] ] , pd.get_dummies(data['PreferredCategory'], dtype=int)] , axis = 1 )
dummyDataset

,Female,Male,Other,female,male,Age,Gender,AnnualIncome,Electronics,Fashion,Groceries,Health,Home Decor,Sports,sports
0,1,0,0,0,0,58,Female,78.0,0,0,0,0,0,1,0
1,0,0,1,0,0,25,Other,76.0,0,0,1,0,0,0,0
2,1,0,0,0,0,19,Female,21.0,1,0,0,0,0,0,0
3,0,1,0,0,0,65,Male,38.0,1,0,0,0,0,0,0
4,1,0,0,0,0,35,Female,35.0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,1,0,0,0,63,Male,92.0,0,0,0,1,0,0,0
116,0,1,0,0,0,38,Male,60.0,0,1,0,0,0,0,0
117,1,0,0,0,0,31,Female,132.0,0,0,1,0,0,0,0
118,0,1,0,0,0,59,Male,97.0,0,0,0,0,0,0,1
119,0,0,1,0,0,107,Other,22.0,0,0,0,0,1,0,0

In [21]:
#3. Hypothesis Testing for Normality
#Perform a Shapiro-Wilk test or Kolmogorov-Smirnov test to check if numerical columns follow a normal distribution.
#Report the p-values and interpret the results.
data.info()
#check all colummns are normally distributed or not
SL = 0.05
from scipy.stats import shapiro
#Pass column name Age , AnnualIncome , SpendingScore
def check_normality(col):
 w_statistic,pvalue = shapiro(data[col])
 if pvalue >= SL:
    print("Alt  Hypothesis (H1) --- "+col+" is Normally Distributed")
    print(w_statistic,pvalue)
 else:
    print("Null Hypothesis (H0) --- "+col+" is NOT Normally Distributed")
    print(w_statistic,pvalue)

#call function
check_normality('Age')
check_normality('AnnualIncome')
check_normality('SpendingScore')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         120 non-null    object
 1   Age                120 non-null    int64
 2   Gender             120 non-null    object
 3   AnnualIncome       120 non-null    float64
 4   SpendingScore      120 non-null    float64
 5   PreferredCategory  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 5.8+ KB
Null Hypothesis (H0) --- Age is NOT Normally Distributed
0.5360200123736596 8.631984372099485e-18
Null Hypothesis (H0) --- AnnualIncome is NOT Normally Distributed
0.939920474549686 4.228178892002176e-05
Null Hypothesis (H0) --- SpendingScore is NOT Normally Distributed
0.939327193768199 3.857263027828303e-05

In [22]:
#4. Hypothesis Testing for Correlation
#Calculate the correlation matrix for numerical columns.
#Perform a hypothesis test (e.g., Pearson's correlation test) for Age v/s Spending Score
# Correlation Test

#Perform Hypothesis Testing
#
#
# 1. Create a Viable Question Goal (Binary Outcome)
#
#  Check if there exists any linear relationship between Age and SpendingScore
#
#

# 2. Convert the Question into Hypothesis (H0 and H1)
#
#   Null Hypothesis (H0) --------- Age and Spending Score have NO linear relationship
#   Alternate Hypothesis (H1) ---- Age and Specnding Score have Linear Relationship
#
#

# 3. Select the Statistical test/formula/tool/method to validate the Hypothesis (Who wins?)
#
#   Correlation Test ---- Pearson's Correlation test formula

# 4. Select/Determine/Decide the SL of the project
#
#    SL = 0.05
#

# 5. Calc the p-value from the test and compare the same with the SL to determine who wins?
#
#

SL = 0.05
from scipy.stats import pearsonr
_,pvalue = pearsonr(data['Age'], data['SpendingScore'])
if pvalue <= SL:
    print("Alt  Hypothesis (H1) --- Age and Spending Score have  linear relationship")
    print(pvalue)
else :
    print("(H0) --- Age and Spending Score have NO linear relationship")

(H0) --- Age and Spending Score have NO linear relationship

In [23]:

#5. Feature Elimination: Parametric and Non-Parametric Tests
#Age v/s SpendinG Score
#Annual Income v/s Spending Score
#All numeric columns are not normally distributed so we go with Non-Parametric tests.
# b. Non-Parametric Test:
# ===============================================================================================
# If any one column is failing NORMALITY TEST, you can use Non-Parametric Test using the following rule
#
#   H0 ------ Eliminate one of the features/columns/variables
#   Ha ------ Preserve Both Features/columns/variables

SL = 0.05
#define a function which calculate non parametric test for given columns
def check_nonparametric(col1,col2):

  from scipy.stats import wilcoxon
  _,pvalue = wilcoxon(data[col1], data[col2])
  if pvalue <= SL:
      print("Alt  Hypothesis (H1) --- "+col1+" and "+col2+" are Statistically Different. Therefore Preserve them")
  else:
      print("Null Hypothesis (H0) --- "+col1+" and "+col2+"  are Statistically Same. Therefore ELIMINATE one of them")

check_nonparametric('Age','SpendingScore')
check_nonparametric('AnnualIncome','SpendingScore')

Null Hypothesis (H0) --- Age and SpendingScore  are Statistically Same. Therefore ELIMINATE one of them
Alt  Hypothesis (H1) --- AnnualIncome and SpendingScore are Statistically Different. Therefore Preserve them

In [24]:
#6. Chi-Square Test for Categorical Columns
#Apply a Chi-Square test to evaluate the relationship between categorical columns and the target variable for feature elimination.
#Gender v/s Spending Score
# Check if State and Profit have any statistical relationship

# Data must be represented as a Contigency Table/Pivot Table
#
#

ct = pd.crosstab(data['Gender'],data['SpendingScore'])
SL = 0.05

from scipy.stats import chi2_contingency

_,pvalue,_,_ = chi2_contingency(ct)

if pvalue <= SL:
  print("Ha ----- Gender and SpendingScore has some Statistical Relationship. This Preserve Gender column")
else:
  print("H0 ----- Gender and SpendingScore has no Statistical Relationship. Thus ELIMINATE 'Gender' Column")

H0 ----- Gender and SpendingScore has no Statistical Relationship. Thus ELIMINATE 'Gender' Column